{{!< layouts/base}}

{{#*inline "title"}}Welcome to {{appName}}{{/inline}}

<p>Welcome, {{username}}!</p>
<p>We're excited to have you on board.</p>

<h3>Getting Started</h3>
<ul>
  <li>Complete your profile</li>
  <li>Explore our features</li>
  <li>Start using our services</li>
</ul>

<a href="{{baseUrl}}/dashboard" class="button">Go to Dashboard</a>